<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1">
    </supportedRuntime>
  </startup>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.1">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <globalization enableClientBasedCulture="true" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
</configuration>